<app-default-page-layout [title]="title | translate" [subTitleTemplate]="subTitleTemplate">
  <div class="app-card fit-content page-width">
    @if(participant && secretSanta) { @switch (state) { @case
    (ParticipantState.Suggesting) {
      <!-- ----------------------------- suggesting ------------------------------ -->
    <app-suggestions
      [maxSuggestions]="secretSanta.maxSuggestions!"
      [suggestions]="participant.suggestions"
    ></app-suggestions>
    } @case (ParticipantState.Reveal) {
      <!-- ------------------------------- reveal -------------------------------- -->
    <div>Green</div>
    } } }
  </div>
</app-default-page-layout>
<app-spinner-overlay [isLoading]="isLoading"></app-spinner-overlay>

<ng-template #subTitleTemplate>
  @if(secretSanta) {
  <p class="subtitle">
    <b>{{ secretSanta.name }}</b>
    <br />
    <span> {{ secretSanta.description }}</span>
  </p>
  }
</ng-template>
