:host {
  .subtitle {
    width: 100%;
    text-align: center;
    margin: 0;
    margin-bottom: .8rem;
    color: #7b7b7b;   

    span {
      font-size: .8rem;
      white-space: pre-line;
    }
  }
}