<app-default-page-layout [title]="title" [subTitle]="'PARTICIPANTS.SUBTITLE' | translate">
  <div class="page-width">
    <div class="cards-container">
      <div class="share-container" *ngFor="let participant of participants; index as i">
        <div style="max-width: 88%;">
          <b>{{ participant.name}}</b><br>
          <div class="revelation-url" (click)="copyToClipboard(participant)">{{getParticipantUrl(participant)}}</div>
          <ng-container *ngIf="participant.revealedCount !== undefined; else revelationLoading">
            <div class="revelation-count opened" *ngIf="participant.revealedCount === 1">{{ 'LABELS.OPENED' | translate }}</div>
            <div class="revelation-count opened" *ngIf="participant.revealedCount > 1">{{ 'LABELS.OPENED_TIMES' | translate: {count: participant.revealedCount} }}</div>
            <div class="revelation-count not-opened" *ngIf="participant.revealedCount === 0">{{ 'LABELS.NOT_OPENED_YET' | translate }}</div>
          </ng-container>
          <ng-template #revelationLoading>
            <mat-spinner diameter="20"></mat-spinner>
          </ng-template>
        </div>
        <div class="flex-center">
          <button mat-icon-button (click)="shareSanta(participant)">
            <mat-icon>share</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <app-error-illustration [errorCode]="errorCode"></app-error-illustration>
  </div>
</app-default-page-layout>
<app-spinner-overlay [isLoading]="isLoading"></app-spinner-overlay>