<app-default-page-layout [title]="title" [subTitle]="'PARTICIPANTS.SUBTITLE' | translate">
  <div class="page-width">
    <div fxLayout="column" fxLayoutAlign="start none" fxLayoutGap="13px">
      <div class="share-container" *ngFor="let participant of participants; index as i"
        fxLayoutAlign="space-between center">
        <div style="max-width: 88%;">
          <b>{{ participant.name}}</b><br>
          <div class="revelation-url" (click)="copyToClipboard(participant)">{{getParticipantUrl(participant)}}</div>
        </div>
        <div fxLayoutAlign="center center">
          <button mat-icon-button (click)="shareSanta(participant)">
            <mat-icon>share</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</app-default-page-layout>
<app-spinner-overlay [isLoading]="isLoading"></app-spinner-overlay>