<app-default-page-layout [title]="title" [subTitle]="subTitle">
  <div style="width: 100%; flex-grow: 1;" class="flex-center">
    <div class="app-card page-width" *ngIf="participant">
      <ng-container *ngIf="participant && secretSantaInfo">
        <div class="revelation-container">
          <ng-container *ngIf="!revelation; else revelationTemplate">
            <img src="../../../assets/img/illustrations/gift.svg" alt="" srcset="" class="shake"
              (click)="revealSecretSanta()">
            <p class="text-secondary text-center">{{ 'REVEAL.REVEAL_INSTRUCTIONS' | translate}}</p>
          </ng-container>
          <ng-template #revelationTemplate>
            <div style="position: relative;">
              <img src="../../../assets/img/illustrations/gift-opened.svg" alt="" srcset="" width="100%">
              <div class="name-text">{{revelation.name}}</div>
            </div>
            <p class="text-center" [innerHTML]="'REVEAL.REVELATION' | translate:{name: revelation.name}"></p>
            <p class="text-secondary text-center" style="margin-bottom: 3rem; font-size: .8rem;" *ngIf="revelation.revealedCount > 0">
              {{ 'REVEAL.REVEALED_BEFORE' | translate:{count: revelation.revealedCount} }}
            </p>
          </ng-template>
        </div>
      </ng-container>
    </div>
    <app-error-illustration [errorCode]="errorCode"></app-error-illustration>
  </div>
</app-default-page-layout>
<app-spinner-overlay [isLoading]="isLoading"></app-spinner-overlay>