<div class="page-card min-height">
  <ng-container *ngIf="participant && secretSantaInfo">
    <h1 class="text-center">{{secretSantaInfo.name}} - {{participant.name}}</h1>
    <p class="text-center">{{secretSantaInfo.description}}</p>
    <div class="revelation-container">
      <ng-container *ngIf="!revelation; else revelationTemplate">
        <img src="../../../assets/img/illustrations/gift.svg" alt="" srcset="" class="shake"
          (click)="revealSecretSanta()">
        <p class="text-secondary text-center">Click on the gift above to see who you got.</p>
      </ng-container>
      <ng-template #revelationTemplate>
        <div style="position: relative;">
          <img src="../../../assets/img/illustrations/gift-opened.svg" alt="" srcset="" width="100%">
          <div class="name-text">{{revelation.name}}</div>
        </div>
        <p class="text-center">You got <b>{{revelation.name}}!</b> Time to find the best gift.</p>
        <p class="text-secondary text-center" *ngIf="revelation.revealedCount > 0">It was revealed
          {{revelation.revealedCount}} times before, if it wasn't you, someone who had the link, may know who you got
        </p>
      </ng-template>
    </div>
  </ng-container>
  <app-spinner-overlay [isLoading]="isLoading"></app-spinner-overlay>
</div>