.main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
  // overflow-x: hidden;
}

.header {
  width: 100vw;
  background-color: #0093e9;
  background-image: linear-gradient(90deg, #0093e9 0%, #80d0c7 100%);
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .app-name {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      color: #fff;
      margin: 0;
      margin-left: 0.5rem;
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.5rem;

      div {
        font-weight: 300;
        font-size: 0.8em;
      }
    }

    h1::after {
      position: fixed;
    }

    img {
      width: 25%;
      height: 25%;
    }
  }
}

.page-container {
  padding: 1rem;
  z-index: 1;
  background-color: #fcfcfc;
  min-height: 80vh;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  h2.page-title {
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
  }

  h4.page-subtitle {
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    margin-top: -1rem;
  }
}
