.main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
}

.header {
  width: 100vw;
  background-color: #2af5db;
  background-image: linear-gradient(90deg, #2af5db 0%, #08aeea 51%, #2af5db 99%);
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-container {
  padding: 1rem;
  z-index: 1;
  background-color: #fcfcfc;
  min-height: 80vh;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  h2.page-title {
    text-align: center;
    margin: .8rem 0;
    color: #414141;
  }

  h4.page-subtitle {
    text-align: center;
    color: #7b7b7b;
    margin-top: -1rem;
  }
}

.page-body {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}