<div class="main-wrapper">
  <div class="header">
    <div class="app-name">
      <img src="../../../../assets/img/illustrations/gift-white.svg">
      <h1>SECRETO
        <div>{{ 'HEADER.APP_NAME' | translate}}</div>
      </h1>
    </div>
  </div>
  <div class="page-container">
    <h2 *ngIf="title" class="page-title">{{title}}</h2>
    <h4 *ngIf="subTitle" class="page-subtitle">{{subTitle}}</h4>
    <div fxLayout="row" fxLayoutAlign="center none" style="flex-grow: 1;">
      <ng-content></ng-content>
    </div>
  </div>
</div>