.form-field {
  width: 100%;
  margin-bottom: 0.5rem;
}

.participants-container {
  max-height: 350px;
  overflow-y: auto;
  margin-bottom: .5rem;

  mat-list-item button {
    margin-left: auto;
  }
}


