<app-default-page-layout [title]="'LABELS.CREATE' | translate">
  <div class="app-card page-width">
    <mat-stepper
      orientation="vertical"
      #stepper
      [linear]="true"
      color="primary"
    >
      <mat-step [stepControl]="step1group">
        <ng-template matStepLabel>
          {{ "LABELS.BASIC_INFO" | translate }}
        </ng-template>
        <form [formGroup]="step1group" class="mt-2">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>{{ "LABELS.TITLE" | translate }}</mat-label>
            <input
              type="email"
              matInput
              formControlName="name"
              [placeholder]="'LABELS.SS_TITLE' | translate"
            />
            <mat-error formError for="name" error="required">
              {{
                "MESSAGES.VALIDATION_REQUIRED"
                  | translate : { field: "LABELS.NAME" | translate }
              }}
            </mat-error>
            <mat-error formError for="name" error="minlength">
              {{
                "MESSAGES.VALIDATION_MIN_LENGTH"
                  | translate : { field: "LABELS.NAME" | translate, length: 3 }
              }}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-field">
            <mat-label>{{ "LABELS.DESCRIPTION" | translate }}</mat-label>
            <textarea
              matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="2"
              cdkAutosizeMaxRows="6"
              [placeholder]="'LABELS.SS_SHORT_DESCRIPTION' | translate"
              formControlName="description"
            ></textarea>
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-field">
            <mat-label>{{ "LABELS.DATE" | translate }}</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              [matDatepickerFilter]="dateFilter"
              formControlName="date"
            />
            <mat-hint>{{
              "MESSAGES.INFO_AVAILABLE_DATE" | translate
            }}</mat-hint>
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error formError for="date" error="required">
              {{
                "MESSAGES.VALIDATION_REQUIRED"
                  | translate : { field: "LABELS.DATE" | translate }
              }}
            </mat-error>
            <mat-error formError for="date" error="matDatepickerParse">
              {{
                "MESSAGES.VALIDATION_INVALID"
                  | translate : { field: "LABELS.DATE" | translate }
              }}
            </mat-error>
            <mat-error formError for="date" error="matDatepickerParse">
              {{ "MESSAGES.VALIDATION_CUSTOM_01" | translate }}
            </mat-error>
          </mat-form-field>

          <mat-slide-toggle
            formControlName="useSuggestion"
            color="primary"
            class="use-suggestions"
            >{{ "LABELS.USE_SUGGESTIONS" | translate }}</mat-slide-toggle
          >

          @if (this.step1group.get('maxSuggestions')) {
          <mat-form-field appearance="outline" class="form-field">
            <mat-label
              [matTooltip]="'MESSAGES.INFO_USE_SUGGESTIONS' | translate"
              >{{ "LABELS.MAX_SUGGESTIONS" | translate }}</mat-label
            >
            <input type="number" matInput formControlName="maxSuggestions" />
            <mat-error formError for="maxSuggestions" error="required">
              {{
                "MESSAGES.VALIDATION_REQUIRED"
                  | translate : { field: "LABELS.MAX_SUGGESTIONS" | translate }
              }}
            </mat-error>
            <mat-error formError for="maxSuggestions" error="min">
              {{
                "MESSAGES.VALIDATION_MIN_VALUE"
                  | translate
                    : { field: "LABELS.MAX_SUGGESTIONS" | translate, value: 1 }
              }}
            </mat-error>
          </mat-form-field>
          }

          <div style="display: flex; justify-content: flex-end" class="mt-2">
            <button mat-flat-button color="accent" matStepperNext>
              {{ "LABELS.NEXT" | translate }}
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="step2group">
        <ng-template matStepLabel>
          {{ "LABELS.PARTICIPANTS" | translate }}
        </ng-template>
        <form [formGroup]="step2group">
          <app-list-input
            [label]="'LABELS.NAME' | translate"
            [minLength]="3"
            formControlName="participants"
          ></app-list-input>
          <mat-error formError for="participants" error="minimumArrayLength">
            {{
              "MESSAGES.VALIDATION_MIN_VALUE"
                | translate
                  : { field: "LABELS.PARTICIPANTS" | translate, value: 4 }
            }}
          </mat-error>
        </form>
        <div class="action-btns mt-2">
          <button mat-button matStepperPrevious>
            {{ "LABELS.PREVIOUS" | translate }}
          </button>
          <button
            mat-flat-button
            color="accent"
            matStepperNext
            (click)="onParticipantsNext()"
          >
            {{ "LABELS.NEXT" | translate }}
          </button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>
          {{ "LABELS.CONFIRMATION" | translate }}
        </ng-template>
        @if(confirmationSummary; as summary) {
        <div class="mt-2">
          <h4>{{ "MESSAGES.INFO_CREATE_CONFIRMATION" | translate }}</h4>
          <p>
            <strong>{{ "LABELS.NAME" | translate }}</strong>
            {{ summary.name }} <br />
            <strong>{{ "LABELS.DESCRIPTION" | translate }}</strong>
            {{ summary.description }}
            <br />
            <strong>{{ "LABELS.DATE" | translate }}</strong>
            {{ summary.date | date }} <br />
            <strong>{{
              "LABELS.PARTICIPANTS" | translate
            }}</strong>
            {{ summary.participants.join(", ") }}
          </p>
        </div>  
        }
        <div class="action-btns mt-2">
          <button mat-button matStepperPrevious>
            {{ "LABELS.PREVIOUS" | translate }}
          </button>
          <button
            mat-flat-button
            color="accent"
            matStepperNext
            (click)="save()"
          >
            {{ "LABELS.DONE" | translate }}
          </button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
</app-default-page-layout>
<app-spinner-overlay [isLoading]="isLoading"></app-spinner-overlay>
