<div class="page-card">
  <mat-stepper orientation="vertical" #stepper [linear]="true" color="primary">
    <mat-step [stepControl]="basicInfoForm">
      <ng-template matStepLabel>Basic Info</ng-template>
      <form [formGroup]="basicInfoForm" class="mt-2">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Name</mat-label>
          <input type="email" matInput formControlName="name" placeholder="Secret Santa Name">
          <mat-error *ngIf="formGroupHasError(basicInfoForm,'name','required')">
            Secret santa name is required
          </mat-error>
          <mat-error *ngIf="formGroupHasError(basicInfoForm,'name','minlength')">
            The name must be at least 3 characters long
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Description</mat-label>
          <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="6"
            placeholder="Short description of the secret santa, here may be rules or any other information"
            formControlName="description"></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date">
          <mat-hint>Data won't be available 2 days after this date</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="formGroupHasError(basicInfoForm,'date','matDatepickerParse')">Date is not valid</mat-error>
        </mat-form-field>

        <div style="display: flex; justify-content: flex-end;">
          <button mat-flat-button color="accent" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="participantsControl">
      <ng-template matStepLabel>Participants</ng-template>
      <div #participantsScroll class="participants-container">
        <mat-list>
          <mat-list-item *ngFor="let participant of participantsControl.value; index as i">
            {{i + 1}}. {{participant}}
            <button mat-icon-button (click)="removeParticipant(i)">
              <mat-icon class="material-icons-outlined" style="color: #6e6e6e;">delete</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around" fxLayoutGap=".5rem">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Name</mat-label>
          <input type="name" matInput [formControl]="newParticipantControl" placeholder="Participant Name"
            (keydown.enter)="addParticipant()">
          <mat-error *ngIf="formControlHasError(newParticipantControl,'minlength')">
            The name must be at least 5 characters long
          </mat-error>
          <mat-error *ngIf="formControlHasError(newParticipantControl,'duplicate')">
            This name is already in the list
          </mat-error>
          <mat-error *ngIf="formControlHasError(participantsControl,'minimumArrayLength')">
            At least 4 participants are required
          </mat-error>
        </mat-form-field>
        <div style="height: 52px; padding-top: .25em;">
          <button mat-stroked-button color="primary" (click)="addParticipant()" style="height: 100%;">ADD</button>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap=".5rem">
        <button mat-button matStepperPrevious>Previous</button>
        <button mat-flat-button color="accent" matStepperNext
          (click)="participantsControl.markAsTouched()">Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <div class="mt-2">
        <h4>You're all set, review the info and click to continue</h4>
        <p>
          <strong>Name:</strong> {{basicInfoForm.value.name}} <br>
          <strong>Description:</strong> {{basicInfoForm.value.description}} <br>
          <strong>Date:</strong> {{basicInfoForm.value.date | date}} <br>
          <strong>Participants:</strong> {{participantsControl.value.length}}
        </p>
      </div>
      <div fxLayout="row" fxLayoutAlign="end center">
        <button mat-flat-button color="accent" matStepperNext
          (click)="participantsControl.markAsTouched()">Continue</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>