.form-field {
  width: 100%;
  margin-bottom: 0.5rem;
}

.participants-container {
  max-height: 350px;
  overflow-y: auto;
  margin-bottom: .5rem;

  mat-list-item button {
    margin-left: auto;
  }
}

.name-input {
  display: flex;
  gap: 1rem;
}

.action-btns {
  display: flex;
  gap: .4rem;
  justify-content: flex-end;
}